body {
  font-family: "Kanit", sans-serif;
  color: #25316d;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 3px solid #25316d;
  border-radius: 5px;
  background: radial-gradient(
    263px at 100.2% 3%,
    #f2bc1a 31.1%,
    #f5c948 36.4%,
    #f7d776 50.9%,
    #fae4a3 60.7%,
    #fcf2d1 72.5%,
    #f0f9fe 72.6%
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.search-button {
  display: block;
  padding: 6px 12px;
  font-size: 16px;
  border-radius: 5px;
  margin: 1 auto;
  background: #8fd2f9;
  transition: all 200ms ease-in-out;
  border: 1px solid #25316d;
  text-align: center;
}

.search-button:hover {
  color: #8fd2f9;
  background: #25316d;
  cursor: pointer;
}
